<h1 class="text-success">「気になる」をした商品一覧</h1>

<% if @favorite_items.present? %>
  <div class="row row-cols-md-3">
    <% @favorite_items.each do |item| %>
      <div class="col">
        <div class="card my-1" style="width: 18rem;">
          <%= image_tag item.image.url, class:"card-image-top" %>
          <div class="card-body">
            <h5><%= item.title %></h5>
            <table>
              <tr>
                <th>値段</th>
                <td><%= item.price %>円</td>
              </tr>
              <tr>
                <th>販売状況</th>
                <td>
                  <% if item.onSale? %>
                    販売中
                  <% else %>
                    売り切れ
                  <% end %>  
                </td>
              </tr>
            </table>
            <div><%= link_to "詳細へ", item, class: "btn btn-primary" %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>  

<% else %>

<p>「気になる」をした商品はありません</p>

<% end %>

<%= link_to "トップページへ戻る", root_path, class:"btn btn-success" %>
