<h1>検索結果</h1>
<% if @items.present? %>
  <p class="text-warning"><%=@items.count%>件の商品が見つかりました</p>
  <% @items.each do |item| %>
    <div>
      <table class="table">
        <tr>
          <th>販売状況</th>
          <td>
            <% if item.onSale? %>
              <p>販売中</p>
            <% else %>
              <p>売り切れ</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>商品画像</th>
          <td><%= image_tag item.image.url %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%=link_to item.title, item %></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= item.price %></td>
        </tr>
      </table>
    </div>
  <% end %>
<% else %>

  <p>検索結果はありません</p>

<% end %>

<%= link_to "トップページへ", root_path %>
